


<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div class="control-group">
      <label class="control-label"  for="Fname">First Name</label>
      <div class="controls">
        <input type="text" id="Fname" name="Fname" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="Lname">Last Name</label>
      <div class="controls">
        <input type="text" id="Fname" name="Fname" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="Address">Address</label>
      <div class="controls">
        <input type="text" id="Address" name="Address" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="email">Email</label>
      <div class="controls">
        <input type="text" id="Email" name="Email" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      
      <label class="control-label" for="phoneNo">PhoneNo</label>
      <div class="controls">
        <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <!-- <div class="control-group">
      
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
      </div>
    </div> -->
 
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>